<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3df637a2f2.js" crossorigin="anonymous"></script>
    <title>About - OneAcademy</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="content">
            <nav>
                <p class="brand">One<strong>Academy</strong></p>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/gyms">Gym</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/plans">Plans</a></li>
                  <li class="btn'cta">
                      <a href="/reservations">
                      <button>Reservation</button>  
                      </a>
                  </li>
                 
                </ul>
             </nav>
                <div class="header-block">
                  <div class="text">
                  <h2>O Perfeito CT para voce.</h2>
                  <p>
                   Fundado em 2022  nos somos a OneAcademy somos
                   uma rede de ct a qual voce pode ter acesso a todos
                   com apenas uma mensalidade.
                  </p>
                </div>
                <img src="img/img3.jpg" alt="gym">
             </div>
           </div>
    </header>

    <section class="about" id="about">
        <div class="content">
          <div class="title-wrapper-about">
          </div>
          <div class="about-content">
            <div class="left">
              <img src="img/about3.jpg" alt="About">
            </div>
            <div class="right">
              <h3>Exercicio é hobby mas também é saúde</h3>
              <p>
                Fundada em 2022 com o proposito de levar comforto para as pessoas, saude para todos
              e intensidade para os atletas. somos a renovacao chegamos para dominar nao so o brasil
              mas todo o continente americano. temos uma variedade gigantesca de aparelhos e maquinas
              de todos os tipos. temos espaco para zumba, jiu-jitsu, muay-tai, capoeira e todos os tipos 
              de arte-marcial. nosso espaco para musculacao e o melhor da america-latina. venha conhecer
               e desfrutar de todos os nossos servicos. com um preco acessivel a todos. parece inacreditavel
               ter um servico desse nivel altissimo e com um preco acessivel ne.
               porem somos real a OneAcademy esta disponivel para todas as suas solicitacoes reconhecida por
               atletas de ponta de todos os esportes. tambem temos inclusao social e descontos todo mes. 
               entao fique ligado.
               VENHA PARA A OneAcademy!!! 
              </p>
            </div>
          </div>
        </div>
      </section>

      
    <footer>
        <div class="main">
          <div class="footer-links">
            <div class="footer-company">
              <h4>Company</h4>
              <h6>About</h6>
              <h6>Contact</h6>
            </div>
            <div class="footer-rental">
              <h4>Rental</h4>
              <h6>Self-Gym</h6>
              <h6>Personal-Gym</h6>
              <h6>Help</h6>
            </div>
            <div class="footer-social">
              <h4>Stay connected</h4>
              <div class="social-icons">
                <img src="img/instagram.png" alt="Instagram">
                <img src="img/facebook.png" alt="Facebook">
              </div>
            </div>
            <div class="footer-contact">
              <h4>Contact Us</h4>
              <h6>+ 55 21 994048385</h6>
              <h6>mateus.r2000@gmail.com</h6>
              <h6>Rua soares d'Andreia, Rio de janeiro</h6>
            </div>
          </div>
        </div>
        <div class="last">DevMateus 2022 - Use like you want</div>
      </footer>
    
</body>
</html>