<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3df637a2f2.js" crossorigin="anonymous"></script>
    <title>Plans - OneAcademy</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
        <header>
            <div class="content">
              <nav>
                  <p class="brand">One<strong>Academy</strong></p>
                  <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/gyms">Gym</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/plans">Plans</a></li>
                    <li class="btn'cta">
                        <a href="/reservations">
                        <button>Reservation</button>  
                        </a>
                    </li>
                   
                  </ul>
               </nav>
                  <div class="header-block">
                    <div class="text">
                    <h2>O perfeito CT para voce.</h2>
                    <p>
                      Afilie-se na OneAcademy e desfrute dos melhores ct do brasil.
                      nos dedicamos muito para levar a melhor experiencia para os 
                      amantes da musculaçao em todo o brasil, venha conhecer os planos
                      super acessiveis ao bolso do consumidor. 
                    </p>
                  </div>
                  <img src="img/img3.jpg" alt="gym">
               </div>
             </div>
            </header>

    <section class="plans" id="plans">
        <div class="content">
          <div class="title-wrapper-plans">
           
          </div>
          <div class="plan-card-block">
            <div class="plan-card-item">
              <img src="img/img.webp3.webp" alt="plan">
              <div class="plan-text-content">
                <h3>Plano Mensal</h3>
                <p>pague 1 mes 30R$ e tenha acesso a todas as nossas unidades disponivel 24h.</p>
              </div>
            </div>
  
            <div class="plan-card-item">
              <img src="img/plan1.jpg" alt="plan">
              <div class="plan-text-content">
                <h3>Plano de 4 meses</h3>
                <p>pague 4 meses 120R$ e tenha acesso a todas as nossas unidades disponivel 24h.</p>
              </div>
            </div>
  
            <div class="plan-card-item">
              <img src="img/plan2.jpg" alt="plan">
              <div class="plan-text-content">
                <h3>Plano de 6  meses</h3>
                <p>pague 6 meses 180R$ e tenha acesso a todas as nossas unidades disponivel 24h.</p>
              </div>
            </div>
  
            <div class="plan-card-item">
              <img src="img/about.png" alt="plan">
              <div class="plan-text-content">
                <h3>Plano Anual</h3>
                <p>pague 1 ano 360R$ e tenha acesso a todas as nossas unidades disponivel 24h.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="main">
          <div class="footer-links">
            <div class="footer-company">
              <h4>Company</h4>
              <h6>About</h6>
              <h6>Contact</h6>
            </div>
            <div class="footer-rental">
              <h4>Rental</h4>
              <h6>Self-Gym</h6>
              <h6>Personal-Gym</h6>
              <h6>Help</h6>
            </div>
            <div class="footer-social">
              <h4>Stay connected</h4>
              <div class="social-icons">
                <img src="img/instagram.png" alt="Instagram">
                <img src="img/facebook.png" alt="Facebook">
              </div>
            </div>
            <div class="footer-contact">
              <h4>Contact Us</h4>
              <h6>+ 55 21 994048385</h6>
              <h6>mateus.r2000@gmail.com</h6>
              <h6>Rua soares d'Andreia, Rio de janeiro</h6>
            </div>
          </div>
        </div>
        <div class="last">DevMateus 2022 - Use like you want</div>
      </footer>
    
</body>
</html>